In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 5)

In [2]:
path = 'D:/Code_software/Jupyter_Notebook/data/train.csv'
excercise = pd.read_csv(path, index_col=0)

In [6]:
np.sqrt(4)

2.0

In [3]:
excercise

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [71]:
# excercise.loc[[1, 2, 3], 'YrSold']
# excercise.iloc[[0, 1, 2], [0, 1, 2]]
# excercise.loc[1:3, 'YrSold'] #闭区间
# excercise.iloc[0:3, -4] #开区间
# excercise.set_index('LotArea')
# excercise['tst'] = 'NoBody'
# excercise.tst
# excercise.nwseries = 'NoBody2' #这个不行，不会生成新Series
# excercise
# excercise['tst2'] = range(excercise.shape[0], 0, -1)
# excercise

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,tst,tst2
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,2,2008,WD,Normal,208500,NoBody,1460
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,0,5,2007,WD,Normal,181500,NoBody,1459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,4,2010,WD,Normal,142125,NoBody,2
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,6,2008,WD,Normal,147500,NoBody,1

In [73]:
# excercise.MSSubClass.describe()
# excercise.MSSubClass.shape
# excercise.MSSubClass.head(1)
# excercise.MSSubClass.median()
# excercise.MSSubClass.mean()
# excercise.MSSubClass.unique()
# excercise.MSSubClass.value_counts()
# excercise.MSSubClass.isna().sum()
# excercise.MSSubClass - excercise.MSSubClass.mean()
# excercise.MSSubClass.map(lambda x: x - excercise.MSSubClass.mean())

# def norm(row):
#     row.MSSubClass = row.MSSubClass - excercise.MSSubClass.mean()
#     return row
# excercise.apply(norm, axis='columns')

# excercise.info()
# excercise.Street + '-' + excercise.Condition1
# excercise.LotFrontage[(excercise.MSSubClass > 20) & (excercise['YrSold'] >= 2008)]
# excercise.LotFrontage[(excercise.MSSubClass > 20) | (excercise['YrSold'] >= 2008)]
# excercise.LotFrontage[(excercise.LotConfig == 'FR2') | (excercise['YrSold'] >= 2008)] #不写loc也行，应该是默认loc，但写iloc不行
# excercise.iloc[1, 4], excercise.loc[1, 'YrSold']
# excercise.LotFrontage[excercise.YrSold.isin([2008, 2007])]

Id
1       65.0
2       80.0
        ...
1456    62.0
1460    75.0
Name: LotFrontage, Length: 633, dtype: float64

In [79]:
excercise.groupby('YrSold').describe()

       MSSubClass                                                       \
            count       mean        std   min   25%   50%   75%    max
YrSold
2006        314.0  59.888535  44.868323  20.0  20.0  60.0  70.0  190.0
2007        329.0  54.316109  39.536997  20.0  20.0  50.0  70.0  190.0
2008        304.0  59.029605  42.830495  20.0  20.0  55.0  70.0  190.0
2009        338.0  54.674556  40.454180  20.0  20.0  50.0  70.0  190.0
2010        175.0  56.971429  45.002864  20.0  20.0  50.0  70.0  190.0

       LotFrontage             ... SalePrice             tst2              \
             count       mean  ...       75%       max  count        mean
YrSold                         ...
2006         265.0  69.305660  ...  218782.5  625000.0  314.0  720.808917
2007         266.0  71.349624  ...  219500.0  755000.0  329.0  750.246201
2008         254.0  69.397638  ...  207000.0  446261.0  304.0  730.786184
2009         273.0  69.296703  ...  212750.0  582933.0  338.0  710.056213
2010         143.0  71.608392  ...  213250.0  611657.0  175.0  749.754286


               std  min     25%    50%     75%     max
YrSold
2006    426.505664  7.0  346.50  707.5  1114.0  1457.0
2007    419.695516  5.0  381.00  773.0  1110.0  1459.0
2008    424.542530  1.0  342.75  756.0  1058.5  1460.0
2009    402.811632  6.0  394.50  704.5  1038.0  1455.0
2010    448.343390  2.0  370.00  739.0  1192.5  1444.0

[5 rows x 296 columns]

In [27]:
# tstFrame = pd.DataFrame({'col1':[1, 2], 'col2':[3, 4]}, index=['row1', 'row2'])
# tstFrame
# tstSeries = pd.Series([1, 2, 3, 4], index=['num1', 'num2', 'num3', 'num4'])
# tstSeries

num1    1
num2    2
num3    3
num4    4
dtype: int64